[submodule "ct-lib"]
	path = ct-lib
[submodule "ct-lib"]
	url = https://github.com/ir-danielf/ct-lib
[submodule "ir-lib"]
	path = ir-lib
[submodule "ir-lib"]
	url = https://github.com/ir-danielf/ir-lib
